body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;border: 0;}
a{text-decoration:none; color:#333; display: block;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{ font-family:"微软雅黑";font-size: 12px;}
input,a{outline:none;}

.fl{
    float: left;
}
.fr{
    float: right;
}


//顶部
#topMenu-wrap{
    height: 33px;
    width: 100%;
    background: #f7f7f7;
    #topMenu{
        width: 1200px;
        height: 100%;
        margin: 0 auto;      
        text-align: center;
        line-height: 33px;
       
        .topMenu_lt{
            .adr{
                position: relative;
                .adr_short{
                    width:52px;
                    height: 22px;
                    border: 1px solid #000;
                    margin-top: 5px;
                    position: relative;
                    span{
                        display: block;
                        line-height: 22px;
                        width: 30px;
                        height: 20px;
                    }
                    b{
                        background: url(../image/header.png) no-repeat -86px -130px;
                        display: block;
                        width: 8px;
                        height: 5px;
                        position: absolute;
                        right: 5px;
                        top:8px;
               
                    }
                }
                &:hover{
                    .adr_long{
                        display: block;
                    }
                }
                .adr_long{
                    background: #fff;
                    text-align: left;
                    width:483px;
                    border: 1px solid #CECECE;
                    display: none;
                    position: absolute;
                    left: 0;
                    top: 28px;
                    z-index: 2;
                    .long_top{
                        width:463px;
                        height: 30px;
                        margin: 5px 10px;
                        border-bottom: 1px solid #cecece;
                        div{
                           background: url(../image/index_icon_new.png) -245px -33px no-repeat; 
                           width: 18px;
                           height: 18px;
                           margin: 5px 0 0 0;
                           cursor: pointer;
                        }
                    }
                    .long_mid{
                        width: 463px;
                        height: 38px;            
                        ul{
                            margin-left: 10px;
                        }
                       ul li{
                            float: left;                        
                            line-height: 33px;
                            height: 33px;
                            width: 38px;
                       } 
                    }
                    .long_bottom{                       
                        margin-left: 10px;
                        margin-bottom: 15px;
                        .citymore{
                            width: 418px;
                            height: 33px;                            
                        }
                        .quxu{
                            height: 25px;
                            span{
                                display: block;
                                line-height: 25px;
                            }
                            ul li{
                            float: left;
                            margin-left: 20px;
                            height: 25px;
                            line-height: 22px;
                        }
                        
                        }
                    }   
                
                }
            }
        }
        .topMenu_rt{
            li{
                float: left;
                position: relative;
            }
            li:nth-child(1){
                .newreg{
                     width: 48px;
                     height: 33px;
                    position: relative;
                   .new {                                        
                       span{
                           background: url(../image/regicon-top.png) no-repeat left top;
                           position: absolute;
                           bottom:0px;
                           left:24px;
                           display: inline-block;
                           width: 11px;
                           height: 7px;                          
                       }
                        p{
                           display: block;
                           width: 196px;
                           height: 22px;
                           line-height: 22px;
                           background-color: red;
                           border-radius: 10px;
                           position: absolute;
                          bottom:-22px; 
                          left: -74px; 
                         }
                   }
                }
            }
            li:nth-child(2){
                margin: 0 20px 0 15px;
                width: 78px;
                height: 22px;
            }
            .lithree{
                width: 78px;
                height: 22px;
                position: relative;
                z-index: 2;
                b{
                   background: url(../image/header.png) no-repeat -86px -130px;
                    display: block;
                    width: 8px;
                    height: 5px;
                    position: absolute;
                    right: 5px;
                    top:15px; 
                }
                ul{
                    display: none;
                    width: 78px;
                    background: #fff;
                    height:120px;
                    //background:bisque;
                    li{
                        width: 78px;
                        height: 22px;
 
                    }
                    
                }
              &:hover ul{
                        display: block;
                }                 
            }
            li:nth-child(4){
                width: 98px;
                height: 33px;
                position: relative;
                z-index: 2;
                b{
                    background: url(../image/header.png) no-repeat -73px -122px;
                    width: 10px;
                    height: 16px;
                    left: 10px;
                    top:8px;
                    position: absolute;                    
                }
                .mobil{
                    display: block;
                    width: 60px;
                    position: absolute;
                    left: 30px;
                }
                &:hover{
                    .ddbox{
                        display: block;
                    }
                }
                .ddbox{
                    background: #fff;
                    width: 230px;
                    height: 170px;                   
                    border: 1px solid #cecece;
                    position: absolute;
                    left:-60px;
                    top:33px;
                    padding-top: 15px; 
                    display: none;                  
                    span{
                        float: left;
                        width: 73px;
                        height: 74px;
                        overflow: hidden;
                        background: url(../image/header.png) no-repeat 0 -93px;
                        display: block;                       
                        margin-left: 15px;
                    }
                    p{                        
                        float: left;
                        width: 50px;
                        height: 29px;
                        margin-left: 8px;                        
                        background: url(../image/header.png) no-repeat -73px -93px;
                        display: block;
                    }
                    em{
                        display: block;
                        line-height: 20px;
                        font-style: normal;
                        position: absolute;
                        left: 110px;
                        top:50px;
                    }
                    strong{
                       display: block;
                        line-height: 20px;
                        color:#76ac25;
                        position: absolute;
                        left: 110px;
                        top:70px; 
                    }
                    .ddbox1{
                        width: 200px;
                        height: 30px;
                        position: absolute;
                        top:100px;
                        left:15px;
                       
                        a{
                            display: block;
                            width: 96px;
                            height: 29px;
                            margin-right: 3px;
                            
                            float: left;
                            &:nth-child(1){
                                background: url(../image/header.png) no-repeat 0 -167px;
                            }
                            &:nth-child(2){
                                background: url(../image/header.png) no-repeat 0 -196px;
                            }
                        }
                        
                    }
                    .ddbox2{
                        width: 100%;
                        height: 30px;
                        background: url(../image/indexImg20130307.png) no-repeat -182px -210px #fcfbe4;
                        text-align: center;
                        color: #fa6400;
                        font-size: 14px;
                        font-weight: bold;
                        line-height: 30px;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        a{
                            color: #fa6400;
                        }
                    }
                }
            }
            li:nth-child(6){
                width: 78px;
                height: 22px;
                position: relative;
                z-index: 1;
                b{
                   background: url(../image/header.png) no-repeat -86px -130px;
                    display: block;
                    width: 8px;
                    height: 5px;
                    position: absolute;
                    right: 5px;
                    top:15px; 
                }
                &:hover{
                        .urlnav{
                            display: block;
                        }
                    }
                
                
                .urlnav{
                    width: 817px;
                    height: 164px;
                    border: 1px solid #cecece;
                    position:absolute;
                    left: -740px;
                    top:32px;
                    padding-top: 10px;
                    background: #fff;
                    display: none;
                    
                    .urlnavl{
                        float: left;
                        width: 239px;
                        height: 142px;
                        margin: 10px 15px;
                        //background: brown;
                        text-align: left;
                        
                        dt{
                            font-size: 16px;
                            color: green;
                        }
                        a{
                            float: left;
                            display: block;
                            margin-right: 15px;
                            &:hover{
                                color:greenyellow;
                            }
                        }
                    }
                    .line{
                        float: left;
                        background: url(../image/line.jpg) center repeat-y;
                        height: 90px;
                        width: 5px;
                        margin: 20px 0 0 0;
                    }
                }
            }
            
            
        }
    }
    
}


//header

#header{
    height: 104px;
    width: 1200px;
    margin: 0 auto;    
    .header1{
        width: 244px;
        height: 100%;
        float: left;                
        a{
            display: block;
            float: left;
             height:66px; 
            &:nth-child(1){
                width:126px;                
                background: url(../image/indexImg20130307.png) -33px 0px no-repeat;
            }
            &:nth-child(2){
                width: 116px;              
                background: url(../image/indexImg20130307.png) -160px 0px no-repeat;
            }
        }    
    }
    .header2{
        float: left;
        width: 140px;
        height: 75px;
        margin: 15px 25px 0 15px;
    }
    .header3{
        width: 515px;
        height: 100%;
        float: left;
        form{
            margin-top: 28px;
            input{
                width: 430px;
                height: 32px;
                border: 1px solid #CECECE;
                float: left;
            }
            span{
                height: 36px;
                width: 80px;
                cursor: pointer;
                float: left;
                vertical-align: middle;
                border: 0;
                background: url(../image/header.png) no-repeat -99px -179px;
                color: #FFF;
            }
            
        }
        ul{
            li{
                float: left;
                margin-right: 8px;
            }
        }
    }
    .header4{
        width: 146px;
        height: 32px;       
        border: 1px solid #CECECE;
        float: left;
        position: relative;
        margin:28px 0 0 50px ;
        &:hover{
            .carts{
                display: block;
            }
        }
        .car{
            background: url(../image/header.png) no-repeat -102px -235px;
            width: 23px;
            height: 21px;
            left: 17px;
            position: absolute;
            top: 4px;
        }
        .mycar{
            position: absolute;
            top:8px;
            left: 50px;
        }
        .nums{
            position: absolute;
            top: -1px;
            left: 144px;
            width: 40px;
            height: 34px;
            text-align: center;
            line-height: 34px;
            background-color: #fa9600;
            color: white;
            font-size: 16px;
            font-weight: 600;
        }
        .carts{
            width: 340px;           
            padding: 10px;
            border: 1px solid #cecece;
            position: absolute;
            top:32px;
            left: -178px;
            display: none;
            background: #fff;
            z-index: 2;
            .no_cart{
                width: 240px;
                height: 42px;
                margin: 0 0 0 85px;
                background: url(../image/header.png) no-repeat -99px -123px;
            }
            .mycarlist{
                padding-left: 50px;               
            }
        }
    }
}

//导航
#mainNav{
    width: 1200px;
    height: 32px;
    margin: auto;
    border-bottom: 2px solid #679800;   
    .mainNav{       
        li{
            float: left;
            height: 32px;
            line-height:32px;
            text-align: center ;
            padding: 0 24px;
            font-size: 14px;
            
            
            &:hover{
                color:#679801;
            }
            &:nth-child(1){
                background: #679801;
                padding: 0 57px;
                &:hover{
                    color:#000;
                }
            }
            &:nth-child(2){
                color:#679801;
            }
            &:nth-child(8){
                float: right;
                padding: 0;
            }
            
        }
    }
}
//footer
#footerLogo{
    width: 100%;
    height: 120px;
    background: #f5f5f5;
    margin-top: 10px;
    ul{       
        width: 1200px;
        margin: auto;
        li{
            width: 300px;
            height: 120px;
            float: left;
            background: url(../image/f1.png) no-repeat center center;
        }
    }
}

#footer{
    height: 160px;
    width: 1200px;
    margin: auto;
    margin-top: 20px;
    border-bottom: 1px solid #CECECE;
    dl{
        &:nth-child(1){
            width: 290px;
            h2{
                line-height: 60px;
            }
        }
        &:nth-child(7),&:nth-child(8){
            dd{
                width: 80px;
                height: 80px;
                margin-top: 10px;
                background: url(../image/foot_bottom.png) no-repeat 0px 0px;
            }
        }
    }
    .list{
        width: 120px;
        margin-top: 10px;
        margin-right: 10px;
        dt{
            font-size: 14px;
        }
        dd{
            height: 24px;
            line-height: 24px;
        }
    }
}

